soe/node-red/weather/vgw-weather-node-red-flow.txt
[{"id":"111dd20c.d41d56","type":"debug","z":"c7a8fd9c.0bff88","name":"Message In","active":true,"console":"false","complete":"payload","x":450,"y":40,"wires":[]},{"id":"71093797.d708b","type":"function","z":"c7a8fd9c.0bff88","name":"Handle VGW Request","func":"if (typeof msg.payload.context !== 'undefined'){\n    msg.params = {};\n    msg.params.context = msg.payload.context;\n    \n    //  This gives the caller a bit more time to respond to the question\n    msg.params.context.vgwPostResponseTimeoutCount = 10000;\n}\n\nmsg.payload = msg.payload.input.text;\nreturn msg;","outputs":"1","noerr":0,"x":240.50003051757812,"y":172.75,"wires":[["2b2b1a07.91d16e"]]},{"id":"5d352846.0d242","type":"http in","z":"c7a8fd9c.0bff88","name":"","url":"weather/v1/workspaces/*","method":"post","upload":false,"swaggerDoc":"","x":174.25,"y":84.5,"wires":[["111dd20c.d41d56","71093797.d708b"]]},{"id":"2b2b1a07.91d16e","type":"watson-conversation-v1","z":"c7a8fd9c.0bff88","name":"","workspaceid":"30b2e222-fe4e-4db9-8237-c5555def8e66","multiuser":false,"context":false,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":287.2499694824219,"y":247.24996948242188,"wires":[["a82fb321.db1e38"]]},{"id":"a82fb321.db1e38","type":"function","z":"c7a8fd9c.0bff88","name":"Geo Lookup","func":"// This function converts the city and state to\n// a longitude and latitude.\n\nvar response = null;\nvar geoLocRequest = null;\n\n//  First check to see if City or State have been captured\n//  If so, save then in the VGW payload context so that they\n//  will be returned on the next Conversation turn.\nif (typeof msg.payload.context.status !== 'undefined' &&\n            msg.payload.context.status == \"gotCity\"){\n    msg.payload.context.city = msg.payload.input.text.trim();\n    delete msg.payload.context.status;\n}\nelse if (typeof msg.payload.context.status !== 'undefined' &&\n            msg.payload.context.status == \"gotState\"){\n    msg.payload.context.state = msg.payload.input.text.trim();\n    delete msg.payload.context.status;\n}\n\n// Now, if the message contains {daily forecast} execute the\n// weather forecast path.\nif (msg.payload.output.text[0].includes(\"{daily forecast}\") === true){\n\n    if (typeof msg.payload.context.city !== 'undefined' &&\n        typeof msg.payload.context.state !== 'undefined'){\n\n        geoLocRequest = msg;\n    \n        //  Now build the URL needed to collect the longitude and latitude \n        geoLocRequest.vgwPayload = msg.payload;\n        geoLocRequest.url = \"https://db7c83da-b1e6-4faf-9534-2fcb53a664e8:8hgLNAm2hy@twcservice.mybluemix.net:443/api/weather/v3/location/search?query=\" +  \n                                msg.payload.context.city +\n                                \"&locationType=city&countryCode=US&language=en-US\";\n        geoLocRequest.payload = null;\n    }\n    else{\n        response = msg;\n        response.payload.output[0] = \"Internal error, no city or state found\";\n    }\n}\nelse{\n    response = msg; \n}\n\nreturn [response, geoLocRequest];","outputs":"2","noerr":0,"x":344.5,"y":317.5,"wires":[["c82f09ec.e85ad8","4226cfd9.91ff5"],["735283df.72d62c"]]},{"id":"78f59345.2ece94","type":"weather_insights","z":"c7a8fd9c.0bff88","name":"","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"e","language":"","x":662.5,"y":543.75,"wires":[["29542716.74ed1"]]},{"id":"4226cfd9.91ff5","type":"http response","z":"c7a8fd9c.0bff88","name":"","statusCode":"","headers":{},"x":1128.75,"y":296.25,"wires":[]},{"id":"29542716.74ed1","type":"function","z":"c7a8fd9c.0bff88","name":"Prep for response","func":"\nmsg.payload = msg.vgwPayload;\n\nif (typeof msg.forecasts !== 'undefined'){\n    \n   msg.payload.output.text[0] = msg.payload.output.text[0].replace(\"{daily forecast}\",msg.forecasts[0].narrative); \n    \n}\nelse{\n    msg.payload.output.text[0] = \"Error getting daily forecast\";\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":773.75,"y":617.5,"wires":[["4226cfd9.91ff5","611ab809.f90788"]]},{"id":"c82f09ec.e85ad8","type":"debug","z":"c7a8fd9c.0bff88","name":"Response to VGW 1","active":true,"console":"false","complete":"true","x":572.5,"y":223.75,"wires":[]},{"id":"21520c21.386814","type":"function","z":"c7a8fd9c.0bff88","name":"Prep for Weather","func":"var response = null;\nvar weatherReq = null;\n\ndelete msg.url;\n\n//  Extract the coordinates \nif (typeof msg.payload.location !== 'undefined'){\n    \n    var longitude = null;\n    var latitude = null;\n    var adminDistrict = msg.payload.location.adminDistrict;\n    for (i = 0; i < adminDistrict.length; i++){\n        if (adminDistrict[i] === msg.vgwPayload.context.state){\n            longitude = msg.payload.location.longitude[i];\n            latitude = msg.payload.location.latitude[i];\n            break;\n        }\n    }\n    \n    if (longitude !== null && latitude !== null){\n        location = latitude + \",\" + longitude;\n        msg.payload = location;\n        weatherReq = msg;\n    }\n    else{\n        response = msg;\n        response.payload = msg.vgwPayload;\n        response.payload.output.text[0] = \"No Geo location found for \"+ msg.vgwPayload.context.city + \" in \" + msg.vgwPayload.context.state;\n    }    \n}\nelse{\n    response = msg;\n    response.payload = msg.vgwPayload;\n    response.payload.output.text[0] = \"Error looking up geo location occured.\";\n}\n\nreturn [response, weatherReq];","outputs":"2","noerr":0,"x":553.75,"y":473.4375,"wires":[["4226cfd9.91ff5","fddb0c88.4c727"],["78f59345.2ece94"]]},{"id":"735283df.72d62c","type":"http request","z":"c7a8fd9c.0bff88","name":"","method":"GET","ret":"obj","url":"","tls":"","x":446.25,"y":402.1875,"wires":[["21520c21.386814"]]},{"id":"611ab809.f90788","type":"debug","z":"c7a8fd9c.0bff88","name":"Response to VGW 3","active":true,"console":"false","complete":"true","x":1031.25,"y":617.5,"wires":[]},{"id":"fddb0c88.4c727","type":"debug","z":"c7a8fd9c.0bff88","name":"Response to VGW 2","active":true,"console":"false","complete":"true","x":708.75,"y":356.25,"wires":[]}]