soe/node-red/lifeinsurance/NodeRED_Pricing.json
[{"id":"de35f6a7.2d7f08","type":"http in","z":"49189f78.0ea74","name":"","url":"/getPrice","method":"post","upload":false,"swaggerDoc":"","x":320,"y":120,"wires":[["7b9a06a4.f6ad08"]]},{"id":"3c8358d2.f84f28","type":"function","z":"49189f78.0ea74","name":"Young","func":"msg.payload = {\n    quote : 100\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["92a8c016.ec66e"]]},{"id":"e9a06be1.bc6f38","type":"http response","z":"49189f78.0ea74","name":"return response","statusCode":"200","headers":{},"x":840,"y":300,"wires":[]},{"id":"7b9a06a4.f6ad08","type":"switch","z":"49189f78.0ea74","name":"Age","property":"payload.age","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"num"},{"t":"btwn","v":"40","vt":"num","v2":"50","v2t":"num"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","outputs":3,"x":370,"y":240,"wires":[["3c8358d2.f84f28"],["db8b4565.ac2e58"],["7e096442.16852c"]]},{"id":"db8b4565.ac2e58","type":"function","z":"49189f78.0ea74","name":"Middle","func":"msg.payload = {\n    quote : 200\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["92a8c016.ec66e"]]},{"id":"7e096442.16852c","type":"function","z":"49189f78.0ea74","name":"Older","func":"msg.payload = {\n    price : 300\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["92a8c016.ec66e"]]},{"id":"92a8c016.ec66e","type":"function","z":"49189f78.0ea74","name":"Merge","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["e9a06be1.bc6f38"]]}]