soe/node-red/lifeinsurance/NodeRED_Finished.json
[{"id":"3cf4b7ea.0687b8","type":"http in","z":"e566b5cd.30e848","name":"","url":"/mypizzasoe","method":"post","upload":false,"swaggerDoc":"","x":430,"y":280,"wires":[["9b5a126f.75501","9f14c7c2.11b278"]]},{"id":"d4d12116.c096","type":"watson-conversation-v1","z":"e566b5cd.30e848","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":810,"y":400,"wires":[["62e87f5.f26e98","e13645b8.fb44f8"]]},{"id":"6178d1a5.ba519","type":"http response","z":"e566b5cd.30e848","name":"Conversation Response","statusCode":"","headers":{},"x":1130,"y":500,"wires":[]},{"id":"9b5a126f.75501","type":"function","z":"e566b5cd.30e848","name":"Handle VGW Input","func":"if (typeof msg.payload.context !== 'undefined'){\n    msg.params = {};\n    msg.params.context = msg.payload.context;\n    \n    //  This gives the caller a bit more time to respond to the question\n    msg.params.context.vgwPostResponseTimeoutCount = 10000;\n}\n\nif (typeof msg.payload.input !== 'undefined' && typeof msg.payload.input.text !== 'undefined')\n   msg.payload = msg.payload.input.text;\nelse\n   msg.payload = \"hello\";\n\n//  The node-red conversation node requires some input. Empty strings don't work.\nif (msg.payload == \"\")\n    msg.payload = \"hello\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["d4d12116.c096"]]},{"id":"9f14c7c2.11b278","type":"debug","z":"e566b5cd.30e848","name":"Input","active":true,"console":"false","complete":"payload","x":713,"y":226,"wires":[]},{"id":"62e87f5.f26e98","type":"debug","z":"e566b5cd.30e848","name":"Output","active":true,"console":"false","complete":"payload","x":1014,"y":408,"wires":[]},{"id":"b1ba1363.c8874","type":"comment","z":"e566b5cd.30e848","name":"Speech to Text","info":"","x":420,"y":220,"wires":[]},{"id":"6bc2197d.a00808","type":"comment","z":"e566b5cd.30e848","name":"Text to Speech","info":"","x":1360,"y":940,"wires":[]},{"id":"e13645b8.fb44f8","type":"function","z":"e566b5cd.30e848","name":"Test Ready to Quote","func":"var conversationFlow = null;\nvar quoteFlow = null;\n\nvar conversationOutput = msg.payload.output.text[0];\n\n//See if conversation includes the quote template\nif(conversationOutput.includes(\"{quote}\")){\n    quoteFlow = msg;\n}\nelse{\n    conversationFlow = msg; \n}\n\nreturn [conversationFlow, quoteFlow];","outputs":"2","noerr":0,"x":880,"y":580,"wires":[["6178d1a5.ba519"],["19a27907.147ee7"]]},{"id":"76731e02.9009f","type":"http response","z":"e566b5cd.30e848","name":"Quotation Response ","statusCode":"","headers":{},"x":1380,"y":880,"wires":[]},{"id":"19a27907.147ee7","type":"function","z":"e566b5cd.30e848","name":"Prepare Quote Request","func":"//copy current payload into a new variable\nmsg.vgwPayload = msg.payload;\n\nvar data  = { \n    age : msg.payload.context.Age, \n    gender : msg.payload.context.Gender,\n    cover : msg.payload.context.CoverAmount,\n};\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":660,"wires":[["2d8c462.7bef5ba"]]},{"id":"ba9c0633.199038","type":"http request","z":"e566b5cd.30e848","name":"Call Get Price","method":"POST","ret":"txt","url":"https://xyz-vgw-soe.mybluemix.net/getPrice","tls":"","x":440,"y":720,"wires":[[]]},{"id":"d6cee178.3f125","type":"function","z":"e566b5cd.30e848","name":"Process Response","func":"\n//retrieve the price from the quote\nvar quote = msg.payload.quote;\n\n//restore the VGW payload\nvar vgwData = msg.vgwPayload\nmsg.payload = vgwData;\n\nvar strQuote = \"£\" + quote;\nmsg.payload.output.text[0] = msg.payload.output.text[0].replace(\"{quote}\", strQuote);  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":840,"wires":[["76731e02.9009f","82f309f9.312948"]]},{"id":"4f1cc5e4.519d0c","type":"json","z":"e566b5cd.30e848","name":"","pretty":false,"x":1070,"y":780,"wires":[["d6cee178.3f125"]]},{"id":"82f309f9.312948","type":"debug","z":"e566b5cd.30e848","name":"Quote response","active":true,"console":"false","complete":"payload","x":1343,"y":804,"wires":[]},{"id":"2d8c462.7bef5ba","type":"http request","z":"e566b5cd.30e848","name":"ODM Quotation","method":"POST","ret":"txt","url":"https://odmeudemo1.bpm.ibmcloud.com/odm/test/DecisionService/rest/WatsonLife/Quote","tls":"","x":1063,"y":720,"wires":[["4f1cc5e4.519d0c"]]}]