soe/node-red/lifeinsurance/NodeRED_Starter.json
[{"id":"4bf7df0.809ce2","type":"http in","z":"be71687c.cb49a8","name":"","url":"/mypizzasoe","method":"post","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["fac6aa42.801888","f12d2733.875998"]]},{"id":"ab0b71bc.44008","type":"watson-conversation-v1","z":"be71687c.cb49a8","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":590,"y":280,"wires":[["68b2ec2a.9028e4","6d1608e0.49ca48"]]},{"id":"6d1608e0.49ca48","type":"http response","z":"be71687c.cb49a8","name":"","statusCode":"","headers":{},"x":850,"y":380,"wires":[]},{"id":"fac6aa42.801888","type":"function","z":"be71687c.cb49a8","name":"Handle VGW Input","func":"if (typeof msg.payload.context !== 'undefined'){\n    msg.params = {};\n    msg.params.context = msg.payload.context;\n    \n    //  This gives the caller a bit more time to respond to the question\n    msg.params.context.vgwPostResponseTimeoutCount = 10000;\n}\n\nif (typeof msg.payload.input !== 'undefined' && typeof msg.payload.input.text !== 'undefined')\n   msg.payload = msg.payload.input.text;\nelse\n   msg.payload = \"hello\";\n\n//  The node-red conversation node requires some input. Empty strings don't work.\nif (msg.payload == \"\")\n    msg.payload = \"hello\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["ab0b71bc.44008"]]},{"id":"f12d2733.875998","type":"debug","z":"be71687c.cb49a8","name":"Input","active":true,"console":"false","complete":"payload","x":493,"y":106,"wires":[]},{"id":"68b2ec2a.9028e4","type":"debug","z":"be71687c.cb49a8","name":"Output","active":true,"console":"false","complete":"payload","x":794,"y":288,"wires":[]}]